*~
.*~
*.o
*.lo
*.la
*.a
*.so
*.gz
*.bz2
*.deb
*.zip
*.dsc
*.rpm
*.tmp
*.stamp
*.gog
*.fst
*.fsa
*.tfst
*.lab
stamp-h*

.libs
.deps
tmp
configure
config.log
config.status
config.cache
libtool
aclocal.m4
autom4te.cache

pm_to_blib
MYMETA.*
META.yml
blib

/rpm
/aclocal.m4
/autom4te.cache
/Makefile
/Makefile.in
/README.html
/include
/install
/install-sh
/missing
/mkinstalldirs
/moot.pc
/moot.spec

/alien/Build
/alien/_build
/alien/_alien
/alien/_share
/alien/blib
/alien/*~
/alien/Alien-Gfsm-*

/doc/html
/doc/latex
/doc/man
/doc/Makefile
/doc/Makefile.in
/doc/README.txt
/doc/tutorial.orig

/doc/tutorial/other
/doc/tutorial/suzanne
/doc/tutorial/*.tmp
/doc/tutorial/*.txt
/doc/tutorial/*.tex
/doc/tutorial/*.man
/doc/tutorial/*.ps
/doc/tutorial/*.pdf
/doc/tutorial/*.dvi
/doc/tutorial/*.aux
/doc/tutorial/*.log
/doc/tutorial/*.toc
/doc/tutorial/*.idx
/doc/tutorial/Makefile
/doc/tutorial/Makefile.in
/doc/tutorial/README.txt

/doc/programs/other
/doc/programs/acknowledge.pod
/doc/programs/verbose.pod
/doc/programs/*.txt
/doc/programs/*.tex
/doc/programs/*.man
/doc/programs/*.ps
/doc/programs/*.pdf
/doc/programs/*.dvi
/doc/programs/*.aux
/doc/programs/*.log
/doc/programs/*.toc
/doc/programs/*.idx
/doc/programs/Makefile
/doc/programs/Makefile.in
/doc/programs/README.txt

/doc/libmoot/html
/doc/libmoot/latex
/doc/libmoot/man
/doc/libmoot/libmoot.doxy
/doc/libmoot/libmoot.log
/doc/libmoot/libmoot.tag
/doc/libmoot/doxy-filter.log
/doc/libmoot/Makefile
/doc/libmoot/Makefile.in
/doc/libmoot/README.txt
/doc/libmoot/doxy-filter.cfg

/src/alphatest
/src/hashtest
/src/opttest
/src/mabbaw
/src/mootconfig
/src/*.par
/src/*.tt
/src/*.pp
/src/*.out
/src/*.tmp
/src/stamp-h*
/src/config.h
/src/config.h.in
/src/Makefile
/src/Makefile.in
/src/README.txt

/src/tests/.*par
/src/tests/*.*par.s
/src/tests/moot_param_lexer.cc
/src/tests/moot_param_lexer.h
/src/tests/parcpy
/src/tests/plextest
/src/tests/trim
/src/tests/*.dot
/src/tests/*.ps
/src/tests/*.dps
/src/tests/*.atpar
/src/tests/*.par
/src/tests/*.tpar

/src/symtest/ittest
/src/symtest/symtest
/src/symtest/gttest
/src/symtest/pptest
/src/symtest/*.par
/src/symtest/*.tpar
/src/symtest/*.apar
/src/symtest/*.atpar
/src/symtest/*.sym

/src/programs/waste-dtiger
/src/programs/stat-tok.current
/src/programs/pre-gpl
/src/programs/save
/src/programs/negra
/src/programs/waste
/src/programs/mootdyn
/src/programs/mootngsmooth
/src/programs/moottype
/src/programs/moottaste
/src/programs/mootconfig
/src/programs/mootchurn
/src/programs/mooteval
/src/programs/mootrain
/src/programs/mootcompile
/src/programs/mootdump
/src/programs/dwdspp
/src/programs/mootpp
/src/programs/moot
/src/programs/dwdsm
/src/programs/mootm
/src/programs/dwdshmm
/src/programs/moothmm
/src/programs/moot-pargen
/src/programs/moot-fstgen
/src/programs/typtag
/src/programs/tokio
/src/programs/speednotes.txt
/src/programs/speednotes.txt.new
/src/programs/test.*
/src/programs/[^a]*.pod
/src/programs/mootdyn.txtdump
/src/programs/*.typt*
/src/programs/*.1
/src/programs/*.xml
/src/programs/*.list
/src/programs/*.par
/src/programs/*.apar
/src/programs/*.tpar
/src/programs/*.atpar
/src/programs/*.ttt
/src/programs/*.tt
/src/programs/*.t
/src/programs/*.mtt
/src/programs/*.dmtt
/src/programs/*.mttt
/src/programs/*.mdmtt
/src/programs/*.fmtt
/src/programs/*.amtt
/src/programs/*.damtt
/src/programs/*.bdamtt
/src/programs/*.bin
/src/programs/*.cbin
/src/programs/*.fbin
/src/programs/*.dump
/src/programs/beforeepsclosure.fsm
/src/programs/negra*.lex
/src/programs/negra*.123
/src/programs/*.pp
/src/programs/*.out
/src/programs/*.tmp
/src/programs/*.ps
/src/programs/*.lfsa
/src/programs/*.fst
/src/programs/*.tfst
/src/programs/*.fsa
/src/programs/*.tfsa
/src/programs/*.afst
/src/programs/*.afsa
/src/programs/*.dot
/src/programs/*.lab
/src/programs/*.scl
/src/programs/in.*
/src/programs/out.*
/src/programs/config.h
/src/programs/config.h.in
/src/programs/Makefile
/src/programs/Makefile.in
/src/programs/README.txt
/src/programs/configure
/src/programs/*.123
/src/programs/*.lex
/src/programs/*.clx
/src/programs/*.fla
/src/programs/*.hmm
/src/programs/*.log
/src/programs/speednotes.new
/src/programs/share-moot
/src/programs/pre-svn

/src/programs/data/save
/src/programs/data/negra
/src/programs/data/share-moot
/src/programs/data/share-dwdst
/src/programs/data/*.raw
/src/programs/data/*.model
/src/programs/data/*.fla
/src/programs/data/*.lex
/src/programs/data/*.123
/src/programs/data/*.clx
/src/programs/data/*.ttt
/src/programs/data/*.tt
/src/programs/data/*.t
/src/programs/data/*.m0ttt
/src/programs/data/*.m0tt
/src/programs/data/*.m0t
/src/programs/data/*.mttt
/src/programs/data/*.mtt
/src/programs/data/*.mt
/src/programs/data/*.xmt
/src/programs/data/*.mt[0-9]
/src/programs/data/*.amtt
/src/programs/data/*.amt
/src/programs/data/*.dmtt
/src/programs/data/*.dmt
/src/programs/data/*.cmtt
/src/programs/data/*.cmt
/src/programs/data/*.damtt
/src/programs/data/*.damt
/src/programs/data/*.bdamtt
/src/programs/data/*.bdamt
/src/programs/data/*.dump
/src/programs/data/*.cdump
/src/programs/data/*.evl
/src/programs/data/*.eval
/src/programs/data/*.errors
/src/programs/data/*.ierrors
/src/programs/data/*.cerrors
/src/programs/data/*.icerrors
/src/programs/data/*.xml
/src/programs/data/*.pre-xml
/src/programs/data/*.post-xml
/src/programs/data/*.hmm
/src/programs/data/*.chmm
/src/programs/data/*.hmm-dump
/src/programs/data/*.chmm-dump
/src/programs/data/*.tnt-tt
/src/programs/data/*.vtt
/src/programs/data/*-vtt
/src/programs/data/*_vs_*
/src/programs/data/*0
/src/programs/data/*1
/src/programs/data/*2
/src/programs/data/*3
/src/programs/data/*4
/src/programs/data/*.txt
/src/programs/data/hack
/src/programs/data/tmp
/src/programs/data/*.dat
/src/programs/data/argh.out
/src/programs/data/savemore
/src/programs/data/conflicts
/src/programs/data/mootchurn
/src/programs/data/utest.*
/src/programs/data/utrain.*

/src/libmoot/mootAutoConfig.h
/src/libmoot/mootAutoConfig.h.in
/src/libmoot/mootNoConfig.h
/src/libmoot/mootTaglistLexer.cc
/src/libmoot/mootTaglistLexer.h
/src/libmoot/mootParamLexer.cc
/src/libmoot/mootParamLexer.h
/src/libmoot/mootParamParser.cc
/src/libmoot/mootParamParser.h
/src/libmoot/mootAlphabetLexer.cc
/src/libmoot/mootAlphabetLexer.h
/src/libmoot/mootAlphabetParser.cc
/src/libmoot/mootAlphabetParser.h
/src/libmoot/gmon.out
/src/libmoot/*.output
/src/libmoot/stamp-h*
/src/libmoot/config.h
/src/libmoot/config.h.in
/src/libmoot/Makefile
/src/libmoot/Makefile.in
/src/libmoot/README.txt
/src/libmoot/graveyard
/src/libmoot/negra*
/src/libmoot/*.hmm
/src/libmoot/*.lfr
/src/libmoot/*.123
/src/libmoot/*.t
/src/libmoot/*.tt
/src/libmoot/*.ttt
/src/libmoot/*.out
/src/libmoot/*.xml
/src/libmoot/DWDS
/src/libmoot/DWDS-POS
/src/libmoot/prof
/src/libmoot/save
/src/libmoot/hmmtest
/src/libmoot/isalph-test
/src/libmoot/ngchurn
/src/libmoot/lxchurn
/src/libmoot/test.*
/src/libmoot/*test
/src/libmoot/tokio
/src/libmoot/tokbounds
/src/libmoot/dotest.h
/src/libmoot/pre-gpl
/src/libmoot/utrain.*
/src/libmoot/utest.*
/src/libmoot/hmm+exit
/src/libmoot/dummyhmm
/src/libmoot/osfcn.h
/src/libmoot/tomata2

/src/libmoot/tests/wastelc
/src/libmoot/tests/wastescan
/src/libmoot/tests/wastesetlex
/src/libmoot/tests/wastelexer
/src/libmoot/tests/streamio
/src/libmoot/tests/taster
/src/libmoot/tests/negra*
/src/libmoot/tests/tiger*
/src/libmoot/tests/hmm+exit
/src/libmoot/tests/cast
/src/libmoot/tests/tgtest
/src/libmoot/tests/tokio
/src/libmoot/tests/toklex
/src/libmoot/tests/gxxversion
/src/libmoot/tests/linetag
/src/libmoot/tests/kmwio
/src/libmoot/tests/lexlex

/src/libmoot/gnulib/Makefile
/src/libmoot/gnulib/Makefile.in
/src/libmoot/gnulib/orig
/src/libmoot/gnulib/string.h
/src/libmoot/gnulib/stdio.h

/debian/examples

/perl/Makefile
/perl/pm_to_blib
/perl/blib
/perl/*.old
/perl/tmp
/perl/*.bs
/perl/Moot.c
/perl/*.hmm

/config/compile
/config/Makefile
/config/Makefile.in
/config/README.txt
/config/install-sh
/config/mkinstalldirs
/config/missing
/config/config.guess
/config/config.sub
/config/depcomp
/config/ltmain.sh

/m4/libtool.m4
/m4/lt*.m4
/m4/Makefile.in
/m4/Makefile

/swig+perl/Makefile
/swig+perl/*.old
/swig+perl/moot.bs
/swig+perl/moot_wrap.cxx
/swig+perl/moot.pm
